In [102]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [72]:
def answer_one():
    return df['Gold'].idxmax()

In [73]:
answer_one()

'United States'

In [105]:
#biggest difference between summer and winter

def answer_two():
    df['diff'] = df.apply (lambda row: abs(row['Gold'] - row['Gold.1']), axis=1)
    return df['diff'].idxmax()


answer_two()
# df = df.reset_index()
# df = df.set_index('diff')
# df = df.sort_index()
# df.tail()

'United States'

In [109]:
# filter by  only GOld >  1
# biggest difference between sum and wint / totla

def answer_three():
    # filter  GOld >1  in win
    filtered = df.where((df['Gold'] > 0) & (df['Gold.1'] > 0)).dropna()
    filtered['diff'] = filtered.apply (lambda row: abs(row['Gold'] - row['Gold.1']) / row['Gold.2'], axis=1)
    return filtered['diff'].idxmax()

answer_three()

'Bulgaria'

In [ ]:
# return  a series of points  3 x  gold, 2x silver, 1xbronze

def answer_four():
    return df.apply(lambda row: row['Gold.2']*3 +  row['Silver.2'] * 2 + row['Bronze.2']*1, axis=1)

answer_four()

In [116]:
spo = df.apply(lambda row: row['Gold.2']*3 +  row['Silver.2'] * 2 + row['Bronze.2']*1, axis=1)
print(type(spo))
len(spo)

<class 'pandas.core.series.Series'>

146

In [291]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [249]:
census_df[census_df['CTYNAME'] == 'Texas']

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
2566,40,3,7,48,0,Texas,Texas,25145561,25146105,25244363,...,4.527491,5.484904,4.446476,6.072953,6.248252,7.616364,8.660719,7.739851,9.780487,9.978697

In [255]:
def answer_five():
    sf = census_df.where(census_df['SUMLEV'] == 50)['STNAME'].value_counts()
    return sf.sort_values(ascending=False).index[0]


answer_five()

'Texas'

In [254]:
def answer_six():
    ldf = census_df.where(census_df['SUMLEV'] == 50)
    ldf.reset_index()
    ldf  = ldf.groupby(['STNAME'])['CENSUS2010POP'].nlargest(3)
    ldf = ldf.reset_index().groupby(['STNAME']).sum()
    res = ldf.sort_values('CENSUS2010POP', ascending=False).head(3).reset_index()['STNAME']
    return list(res.values)


answer_six()
# ldf = census_df.set_index(['STNAME'])
# g = ldf['CENSUS2010POP'].groupby(level=0, group_keys=False)
# type(g)

# ldf.head()
# ldf = ldf['CENSUS2010POP']
# print(ldf.head())

# census_df.groupby(['STNAME'], sort=False)['CENSUS2010POP'].max()

['California', 'Texas', 'Illinois']

In [288]:
def answer_seven():
    def max_change(row ):
        ch1 = abs(row['POPESTIMATE2015'] - row['POPESTIMATE2014'])
        ch2 = abs(row['POPESTIMATE2014'] - row['POPESTIMATE2013'])
        ch3 = abs(row['POPESTIMATE2013'] - row['POPESTIMATE2012'])
        ch4 = abs(row['POPESTIMATE2012'] - row['POPESTIMATE2011'])
        ch5 = abs(row['POPESTIMATE2011'] - row['POPESTIMATE2010'])
        return max([ch1,ch2])
    
    
    census_df['max_change'] = census_df.where(census_df['SUMLEV'] == 50).apply(lambda row : max_change(row),  axis = 1 )
    return census_df.loc[census_df['max_change'].idxmax()]['CTYNAME']
answer_seven()

'Harris County'

In [323]:
#  countiesonly
#   region 1 and 2 only
# name starts with WAshington
#  popest2015  greater than popest2014

def answer_eight():
    
    only12 = census_df.where(census_df['SUMLEV'] == 50).where((census_df['REGION'] == 1) | (census_df['REGION'] == 2)) .dropna()
    onlyWash = only12.where(census_df['CTYNAME'].str.match('Washington')).dropna()
    
    res = onlyWash.where(onlyWash['POPESTIMATE2015'] > onlyWash['POPESTIMATE2014']).dropna()
    res1 = res[['STNAME', 'CTYNAME']]
    return res1.sort_index()

answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County

In [305]:
s  =  'andrea'
s[:3]

'and'