In [4]:
#Numpy
import numpy as np

In [13]:
mlist = [1,2,3]
a  = np.array(mlist)
nlist = range(0,10,2)
b = np.array(nlist)

In [10]:
a
b

array([0, 2, 4, 6, 8])

In [21]:
c = np.array([nlist,nlist])

In [25]:
c
c.shape

(2, 5)

In [32]:
d = np.arange(0,10,0.5)  # range with steps
d

array([ 0. ,  0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  4.5,  5. ,
        5.5,  6. ,  6.5,  7. ,  7.5,  8. ,  8.5,  9. ,  9.5])

In [34]:
d.reshape(2,10)

array([[ 0. ,  0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  4.5],
       [ 5. ,  5.5,  6. ,  6.5,  7. ,  7.5,  8. ,  8.5,  9. ,  9.5]])

In [37]:
e = np.linspace(0,5,13) #arranges a space dividing in a number of intervale
e

array([ 0.        ,  0.41666667,  0.83333333,  1.25      ,  1.66666667,
        2.08333333,  2.5       ,  2.91666667,  3.33333333,  3.75      ,
        4.16666667,  4.58333333,  5.        ])

In [40]:
f = np.ones((3,4))
f

array([[ 1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.]])

In [42]:
g  = np.zeros((4,5))
g

array([[ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.]])

In [43]:
h= np.eye(4) #diagonal matrix
h

array([[ 1.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.],
       [ 0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  1.]])

In [44]:
i = np.diag([2,3,4])
i

array([[2, 0, 0],
       [0, 3, 0],
       [0, 0, 4]])

In [48]:
[3 *  x for x in [1,2,3]]

[3, 6, 9]

In [74]:
j = map(lambda x : x*2, [1,2,3])
j

In [75]:
print([x for x   in j])

[2, 4, 6]

In [76]:
l = np.ones((3,4))
l

array([[ 1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.]])

In [81]:
m = np.vstack([l, 2*l])
m

array([[ 1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.],
       [ 2.,  2.,  2.,  2.],
       [ 2.,  2.,  2.,  2.],
       [ 2.,  2.,  2.,  2.]])

In [90]:
somelist = [1,2,3]
print(somelist *2)
somenp = np.array(somelist)
print(somenp * 2)

[1, 2, 3, 1, 2, 3]
[2 4 6]

In [91]:
x = np.array([1,2,3])
y = np.array([4,5,6])

In [92]:
x + y

array([5, 7, 9])

In [93]:
x*y

array([ 4, 10, 18])

In [94]:
x.dot(y) # dot product

32

In [95]:
z  = np.array([y,y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

In [96]:
z.T #transpose

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

In [100]:
a = np.array([-2,-1,0,1,2])

In [103]:
a.argmax()

4

In [104]:
a.argmin()

0

In [105]:
a

array([-2, -1,  0,  1,  2])

# Indexing /slicing

In [108]:
s = np.arange(13)**2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144])

In [131]:
s[-1::-2]

array([144, 100,  64,  36,  16,   4,   0])

# matrices

In [133]:
r = np.arange(36)
r = r.reshape((6,6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [137]:
r[:,-1::-2]

array([[ 5,  3,  1],
       [11,  9,  7],
       [17, 15, 13],
       [23, 21, 19],
       [29, 27, 25],
       [35, 33, 31]])

In [138]:
r[r>30]

array([31, 32, 33, 34, 35])

In [139]:
r[r>30] = -1
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, -1, -1, -1, -1, -1]])

# amending values BY REFERENCE!!

In [143]:
r2 = r[:3,:3]
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

In [144]:
r2[:] = 0
r2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [145]:
r # the sourtce array is changed as np arrays are passed by reference!

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, -1, -1, -1, -1, -1]])

In [146]:
r_copy = r.copy() # in order to copy values  use .copy!!!!!!
r_copy[:] = 42
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, -1, -1, -1, -1, -1]])

# iterating over arrays