# Series
core data strucutres
A cross between list and a dictionary

index and data
If omitted, the index is the progressive row number

In [2]:
import pandas as pd
pd.Series?

In [6]:
animals = pd.Series(['some','other','stuff'])
animals

0     some
1    other
2    stuff
dtype: object

In [7]:
numbs = pd.Series([1,2,3])
numbs

0    1
1    2
2    3
dtype: int64

# handing missing data
Missing numbers are NaN

In [8]:
nums = pd.Series([1,2,None])
nums
#note that the type is converted from base64 into float64, and null is converted to NaN
# note that nan doesn't work with the common euqality

0    1.0
1    2.0
2    NaN
dtype: float64

In [9]:
import numpy as np
np.nan == np.nan

False

In [10]:
sports = {"football": 'italy', "golf": "scotland"}
spo = pd.Series(sports)
spo

football       italy
golf        scotland
dtype: object

In [12]:
spo.index

Index(['football', 'golf'], dtype='object')

In [17]:
missing = pd.Series(data=['a','b','d'], index=[0,1,3])
missing

0    a
1    b
3    d
dtype: object

# query series loc and iloc
location
indice of location

In [20]:
sports = {"football": 'italy', "golf": "scotland", 'sumo': 'japan'}
spo = pd.Series(sports)
spo.iloc[1]

'scotland'

In [21]:
spo.iloc[2]

'japan'

In [23]:
spo.loc['football']

'italy'

In [24]:
spo[1]

'scotland'

In [25]:
spo['football']

'italy'

# working with data

## iteration

In [26]:
import numpy as np
s = pd.Series([1,3,4,5,6.0])
s

0    1.0
1    3.0
2    4.0
3    5.0
4    6.0
dtype: float64

In [27]:
total = np.sum(s)
total

19.0

In [ ]:
# let's try with a large amount of data